services:
  api:
    build:
      context: ./server
      dockerfile: Dockerfile
    image: text_summarizer_api:latest
    container_name: text_summarizer_api
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - ./server/.env
    volumes:
      - ./server:/app
      - ./uploads:/app/uploads
    depends_on:
      - postgres
      - redis
    networks:
      - text_summarizer_network

  postgres:
    image: postgres:17-alpine
    container_name: text_summarizer_db_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: text_summarizer_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - text_summarizer_network

  redis:
    image: redis:alpine
    container_name: text_summarizer_db_redis
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --requirepass ""
    volumes:
      - redis_data:/data
    networks:
      - text_summarizer_network

networks:
  text_summarizer_network:
    driver: bridge

volumes:
  postgres_data:
  redis_data:
